<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MegaDron</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <style>
            .color-box {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin: 7px;
                display: inline-block;
            }

            .clic{
                cursor: pointer;
            }

            .quantity button{
                border-radius: 50%;
                display: inline-block;
                width: 30px;
            }
            .quantity div{
                text-align: center;
                min-width: 30px;
                display: inline-block;
                font-weight: bold;
            }
            .buy-box{
                margin: 20px;
            }
            footer {
                
                text-align: center;
                padding: 30px 10px;
                margin-top: 50px;
                min-height: 100px;
            }
            .container{
                margin-top: 50px;
            }
            .producto-relacionado-precio{
                background: orangered;
                color: white;
                text-align: center;
                padding: 10px; 
            }
        </style>


        


</head>

<body>
    
    <div id="app">
    <nav class="navbar navbar-expand-lg " :style="{ 'background-color': menuColor }" >
        <div class="container-fluid">
            <a class="navbar-brand" href="#">{{marca}}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li v-for="menu in menus">
                        <a class="nav-link" aria-current="page" v-bind:href="menu.url">{{menu.etiqueta}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    

    <div class="container">

        <div class="row">
            <h3>{{producto.nombre}}</h3>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 ">
                <img :src="producto.imagen" width="90%"height="100%"  alt="W">
            </div>
            <div class="col-12 col-sm-6  col-md-8">
                <h6>{{producto.descripcion}}</h6>
                <div class="p-3 mb-2 text-white" style="background-color: gray;"v-bind:style="precioEstilos">
                    Precio: {{producto.precio}} BOB
                </div>
                <h5>Color</h5>
                <div v-for="(n,j) in producto.colores" class="col-12 col-sm-12  col-md-12" style="display: inline;">
                   
                    <input type="radio" class="btn-check " name="options" :id="j+1" autocomplete="off" v-bind:value="n">
                    <label class="btn color-box clic" :for="j+1"  :style="{ 'background': n }" ></label>
                    
                
                </div>
                <h5>Cantidad</h5>
                <div class="quantity">
                    <button v-on:click="counter -=1">-</button> <div id="ca">{{counter}}</div> <button v-on:click="counter +=1">+</button>
                </div>
                <div class="buy-box">
                    <button v-if="comparar(counter)"   v-on:click="comprar(producto.id,counter)" type="button" class="btn btn-primary">Comprar</button>
                    <button v-else="comparar(counter)" type="button" class="btn btn-primary" disabled>Comprar</button>
                </div>
                
            </div>
        </div>
    </div>



    <div class="container col-12">

        <div class="row col-12">
            <h4>Productos relacionados</h4>
        </div>
        <div class="row col-4" v-for="p in productosRelacionados" style="display: inline-block;" >
            
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{p.nombre}}</h5>
                        <img :src="p.imagen" width="100%"height="70%" alt="W">
                        <p class="card-text">{{p.descripcion}}</p>
                            <div class="producto-relacionado-precio"v-bind:style="precioEstilos">Precio:{{p.precio}} BOB</div>
                        
                            <!-- <div   v-for="(prodrela,i) in productosRelacionados"> -->
                                
                                <div>
                                    <div v-for="co in p.colores" class="color-box" :style="{ 'background': co }"></div>
                                </div>
                                
                             <!--</div> -->
                        
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>

    <footer style="background-color: gray;" :style="{ 'background-color': footerColor }">
        
    </footer>

</div>


<script>
    
var app = new Vue({
  el: '#app',
  data: {
    marca: 'MegaDron',
    menuColor: "lightblue",
    footerColor: 'slategrey',
    precioEstilos: "background: orangered; color: white; font-weight: bold",
    menus: [
                    {
                        etiqueta: "Inicio",
                        url: "#"
                    },
                    {
                        etiqueta: "Tienda",
                        url: "#"
                    }
                ],
    producto:{},
    productosRelacionados:[ ],
    counter:0






  },
  // definir métodos bajo el objeto `methods`
  methods: {
    comparar: function ()
    {
        return this.counter >0;
    },
    color: function (n)
    {
        var n = '';
        var ele = document.getElementsByName('options');
        for(i = 0; i < ele.length; i++) {
            if(ele[i].checked)
                n = ele[i].value;
        }
        
    return n;
    },
    comprar: function (id,counter,n) {
      
      alert('pedidos\n{\nid: ' + this.producto.id + '\ncantidad: ' + this.counter + '\ncolor: '+ this.color(n)  +'\n}')
      
      
    },
    getProductos(){

        axios
        .get('http://localhost:5000/Productos')
        .then(response => {
            console.log(response.data);

            this.productosRelacionados = response.data;//loque recupera cargamos a array del data
            this.producto = response.data[0];
        })
        .catch(e => console.log(e));
    }
  }
  ,
  mounted(){
        this.getProductos();
    }

  
})
</script>





</body>


</html>